@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("./assets/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}

.container{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

header {
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header .logo{
    color: #8a2435;
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
}

header ul{
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 10px;
}

header ul li a{
    text-decoration: none;
    font-weight: 500;
    color: #8a2435;
    padding: 8px 15px;
    border-radius: 25px;
    transition: 0.4s;
}

header ul li a:hover,
header ul li a.active{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.content{
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 110px;
}

.content h2{
    font-size: 3rem;
    color: #8a2435;
}

.content p{
    font-size: 1.2rem;
    color: #8a2435;
}

.content a{
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #8a2435;
    margin-top: 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.content a:hover{
    background-color: rgb(241, 241, 241);
}

.imgBx img {
    max-width: 280px;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%, 100%{transform: translateY(50px);}
    50%{transform: translateY(100px)}
}

.sci{
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li{
    list-style: none;
}

.sci li a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sci li a img{
    transform: scale(0.6);
    transition: 0.5s;
}

.sci li:hover a img{
    transform: scale(0.6) rotate(360deg);
}

.copyrightText{
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: #8a2435;
}

@media screen and (max-width: 1050px) {
    .container {
        width: calc(100% - 80px);
    }

    section {
        flex-direction: column;
    }

    header {
        padding: 20px 30px;
    }

    header ul{
        margin-left: 20px;
    }

    header ul li {
        margin: 0 5px;
    }

    header .logo{
        font-size: 1.5rem;
    }

    header ul li a{
        padding: 8px 13px;
        font-size: .9rem;
    }
    .container{
        justify-content: center;
        flex-direction: column;
        transform: translateX( 1px);

    }

    .content{
        text-align: center;
        transform: translateX(0px);
        max-width: 700px;
        padding: 40px;
    }

    .content h2{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .content p{
        font-size: 1rem;
    }
    .content a {
        font-size: 1rem;
    }

    .imgBx{
        margin-bottom: 160px;
    }

    .imgBx img {
        max-width: 200px;
    }


    .sci{
        position: relative;
        flex-direction: row; 
        right: 0;
        margin-bottom: 4rem;
    }

    .sci li a{
        margin: 0 5px;
    }

    .copyrightText{
        position: relative;
        left: 0;
        font-size: .8rem;
        text-align: center;
    }

}

@media screen and (max-width: 651px) {
    .container {
        width: calc(100% - 60px);
    }

    section{
        padding: 20px;
    }

    .container {
        padding: 30px;
    }

    header {
        flex-direction: column;
        justify-content: center;
        border-radius: 15px;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        padding: 20px 20px;
        width: 100%;
    }


    header .logo{
        margin-bottom: 1rem;
    }

    .content {
        margin-top: 3rem;
        width: 100%;
    }
}


@media screen and (max-width: 520px) {

    .container {
        width: calc(100% - 50px);
    }

    section{
        padding: 5px;
    }

    .content{
        padding: 2rem 1rem;
    }

    .content h2{
        font-size: 1.2rem;
    }

    header logo{
        margin-bottom: 2rem;
    }

    header ul {
    flex-direction: column;
    text-align: center;
    line-height: 250%;
    margin-left: 0px;
    }

    .copyrightText{
        font-size: .7rem;
    }
}